# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build
*/build/
build

# CMake
*/CMakeFiles
CMakeCache.txt
cmake_install.cmake

# temp
*.swp

CMakeFiles

# data
*.json
*.wav

### EIGEN PRAC
# Eigen 
eigen/eigen
*.b

# PLASMA
eigen/plasma-*

# openblas
eigen/openblas

# BLAZE
eigen/blaze-3.6

# jupyter notebook
.ipynb_checkpoints

# data
*.txt
